.profileContainer{
    margin-top: 5rem;
    display: flex;
    margin-left: 5rem;
    
    
        
    .profilePicture{
        border-radius: 50%;
        height: 10rem;
        width: auto;
        margin-left: 4rem;
    }

    .profileText{
        line-height: 1.5;
        margin-left: 2rem;
        width: 40%;
        margin-top: 1rem;
        font-family: 'Lexend', sans-serif;
        
    }
    
    .skillList{
        padding-left:10rem ;
    }

    h1{
        margin-left: 15rem;
        font-weight: 400;
        font-family: 'Krona One', sans-serif;
        color: blue;
        
    }

    ul{
      position: absolute;
      margin-top: 4rem;
      margin-left: 64%;
      column-count: 2;
      column-gap: 5rem;
      font-family: 'Lexend', sans-serif;
    }   
   

    }
    
    
    
   