.profileContainer{
    margin-top: 7rem;
    justify-content: center;
    text-align: center;
    display: flex;
    
    background-color: #FFFFFF;
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    width: 100%;

    
        
    .profilePicture{
        border-radius: 50%;
        height: 10rem;
        width: auto;
        margin-top: 3rem;
        
    }

    .profileText{
        line-height: 2.0;
        margin-left: 2rem;
        width: 50%;
        margin-top: 3rem;
        text-align: justify;
        
    }
    
    .skillList{
        margin-left:10rem ;
    }

    .iconPicture{
        height: 30px;
        width: auto;
        margin-right: 0.5rem;
        
    }



    h1{
        margin-left: 15rem;
        
    }

    ul{
      margin-left: 15rem;
      margin-top: 2rem;
      column-count: 2;
      column-gap: 5rem;
      list-style-type:none;
     
    }
    li{
        margin-bottom: 1rem;
        width: fit-content;
        
    }   
   

    }
    
    
    
   