.headerContainer{
    background-color: #f4f4f2;
    height: 5rem;
    display: flex;
    align-items: center;
    font-family: 'Krona One', sans-serif;
    color: blue;
   

.titleImage{
    height: 70px;
    width: 80px;
    margin-left: 2rem;
}


p{
    font-size: 2rem;
    margin-left: 1rem;  
}

span{
  position: relative;
   margin-left: 16rem;



}

}



