


.headerContainer{
  
   
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    width: 100%;
 
    .titleImage{
        
        margin-left: 2rem;
        height: 200px;
        width: 200px;
      
  
    }

    .titleText{
            color: #18121e;
            margin-left: 1rem;
    }

    .items{
        color: #18121e;
        justify-content: center;
        margin-left: 15rem;
        margin-top: 2rem;
    }

    h4.items:after {
        content: '';
    
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 1px solid;
      margin-top: 10px;
      opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }
    
    h4.items:hover:after {
      opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

}
